@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-200
}

body {
  background: linear-gradient(-45deg, #0d1534, #080c1f, #050404);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

body,
html,
.root {
  height: 100%;
}

#__next {
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
